@font-face {
  font-family: 'sligoilmicro';
  src: url("https://raw.githubusercontent.com/clmth/3dfiles/main/Sligoil-Micro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 1.36364;
}

body {
  background-color: white;
  overflow: overlay;
  margin: 1% 1%;
  margin-right: 3%;
  text-align: left;
  text-rendering: optimizeLegibility;
}

.container {
  position: relative;
}

.h1 {
  font-family: 'sligoilmicro';
  font-size: 4rem;
  font-style: none;
  display: inline-block;
  margin: 0rem 0rem;
  line-height: 1;
  position: relative;
}

.h2 {
  font-family: 'sligoilmicro';
  font-size: 2.4rem;
  word-spacing: -.4rem;
  color: black;
  display: inline;
  line-height: 1.2;
  margin: 0rem 0.3rem;
  text-decoration: underline;
  text-decoration-color: black;
}

.explications {
  font-family: 'sligoilmicro';
  font-size: 1.05rem;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  top: .7rem;
  line-height: 1.2;
  position: relative;
  margin: 0rem 0.3rem;
  margin-bottom: 0.8rem;
}

.text {
  font-family: 'sligoilmicro';
  font-size: 0.8rem;
  line-height: 1.4;
  position: relative;
  margin-left: 0.3rem;
  color: rgba(0, 0, 0, 0.8);
}

.footer {
  position: relative;
  bottom: 2rem;
  text-align: center;
  font-family: 'sligoilmicro';
  font-size: 1.24rem;
  color: rgba(0, 0, 0, 0.6);
  text-decoration-color: black;
  text-align: center;
  display: block;
}

a {
  color: inherit;
}

.inter {
  font-family: 'sligoilmicro';
  font-size: 0.8rem;
  line-height: 1.4;
  position: relative;
  margin-bottom: 3.5rem;
  margin-top: 4rem;
  padding-left: calc(1% + .1rem);
  color: rgba(0, 0, 0, 0.7);
  border-left: 0.2rem solid rgba(0, 0, 0, 0.5);
}

ul {
  margin-bottom: .6rem;
  margin-top: 4rem;
  padding-left: 0rem;
  margin-left: 0.3rem;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

video {
  margin-bottom: 0rem;
}

.pagelinks {
  display: flex;
  justify-content: center;
}

model-viewer {
  z-index: 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  top: 1rem;
  width: 25rem;
  height: 25rem;
}

#intro {
  color: black;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
}

li {
  margin-left: 0.3rem;
}

li::marker {
  list-style: square;
  list-style: inside;
  display: inline;
  white-space: nowrap;
  position: absolute;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
}

button:hover {
  border: none;
  color: white;
  text-shadow: 0rem 0rem 0.5rem #ff5a28, 0rem 0rem 1rem rgba(255, 90, 40, 0.5), 0rem 0rem 3rem #ff5a28;
}

.back {
  font-family: 'sligoilmicro';
  font-size: 2.95rem;
  line-height: 1;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: dense;
  grid-gap: .6rem;
}

.header {
  grid-column: 1/-1;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  position: relative;
}

.hero {
  grid-column: 1/-1;
  border-radius: 5px;
}

.main {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: .6rem;
}

.multiple {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: auto;
  grid-gap: .6rem;
  padding-left: 0rem;
}

.main li:nth-child(4) {
  grid-column: 1/-1;
}

.sub {
  grid-column: 1/-1;
}

.sub ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense;
  grid-gap: 5px;
}

.sub ul li:nth-child(4) {
  grid-column: 1/-1;
}

.main, .sub ul {
  list-style: none;
  padding: 0;
}

@media (min-width: 800px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: dense;
    grid-gap: .6rem;
  }

  .last-img {
    grid-column: 1/-1;
  }

  .multiple {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: dense;
    grid-gap: .6rem;
  }
}
@media (min-width: 680px) {
  .sub ul {
    grid-template-columns: 1fr 1fr;
  }
}
.sub ul li:nth-child(4) {
  grid-column: 1/-1;
}

*, *:before, *:after {
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
  border-sizing: border-box;
}

.dropdown {
  position: relative;
}
.dropdown > .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -moz-transition: max-height 0s ease-out;
  -o-transition: max-height 0s ease-out;
  -webkit-transition: max-height 0s ease-out;
  transition: max-height 0s ease-out;
  -moz-animation: hideAnimation 0s ease-out;
  -webkit-animation: hideAnimation 0s ease-out;
  animation: hideAnimation 0s ease-out;
}
.dropdown > input[type="checkbox"] {
  opacity: 0;
  display: flex;
  position: absolute;
  bottom: 0rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.dropdown > input[type="checkbox"]:checked ~ .dropdown-menu {
  max-height: 9999px;
  display: block;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -moz-animation: showAnimation 0s ease-out;
  -webkit-animation: showAnimation 0s ease-out;
  animation: showAnimation 0s ease-out;
  -moz-transition: max-height 0s ease-out;
  -o-transition: max-height 0s ease-out;
  -webkit-transition: max-height 0s ease-out;
  transition: max-height 0s ease-out;
}

#BINC {
  margin-bottom: 5rem;
}

@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -moz-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes showAnimation {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -moz-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-webkit-keyframes hideAnimation {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
.dropdown:hover {
  color: white;
}

.modal-target {
  cursor: pointer;
  transition: 0.3s;
}

.modal-target:hover {
  opacity: 0.8;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  height: auto;
  width: 80%;
  max-width: 40rem;
  opacity: 1 !important;
}

.modal-content, .modal-caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-atransform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal-close {
  position: fixed;
  right: 0px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
  line-height: .4;
  padding-right: 25px;
  padding-top: 25px;
}

.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 12px;
  }
}
@media screen and (min-width: 1320px) {
  html {
    font-size: 16.2px;
  }
}