@font-face {
    font-family: 'sligoilmicro';
    src: url('https://raw.githubusercontent.com/clmth/3dfiles/main/Sligoil-Micro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Calculations
// Unitless for flexibility

// Define base viewport for calculations
$base-viewport: 1100;

// Define base font size (at base viewport)
$font-size-at-base-viewport: 17;

// Define minimum computed font size in pixels
$min-font-size: 13;

// Define maximum computed font size in pixels
$max-font-size: 26;

@function base-font-size() {
	@return ($font-size-at-base-viewport / $base-viewport) * 100;
}

@function breakpoint-for-fontsize($n) {
    @return ($n / base-font-size()) * 100;
}

html {
	font-size: base-font-size() * 1vw;
}

body {
    margin: 0 0rem;
    text-align: left;
    text-rendering: optimizeLegibility;
}

.container {
  position: relative;
  }

.h1 {
  font-family: 'sligoilmicro';
  font-size: 4rem;
  font-style: none;
  display: inline-block;
  margin: 1rem 1rem;
  line-height: 1;
  position:relative;
  }

.text {
  font-family: 'sligoilmicro';
  font-size: 0.8rem;
  font-style: none;
  position: relative;
  top: 1rem;
  margin: 0rem 0.3rem;
  }



model-viewer {
  z-index: 1; 
  position: absolute; 
  top: 0px; 
  width: 100vw; 
  height: 100vh; 
  margin: 1 1rem;
  }

.HotspotAnnotation {
  font-family: 'sligoilmicro';
  font-size: 1.5rem;
  font-style: none ;
  padding: 2% 0% 2% 0% ;
  }
    
.Hotspot {
  pading: 2% 14px;
  background: rgba(0,0,0,0);
  backdrop-filter: blur(2px);
  border:none;
  backdrop-filter: blur(50px);
  border-radius: 0px;
  }

.Hotspot:hover {                
  display: flex;
  background-color: rgba(255,255,255,0.6); 
  }

.Hotspotcontainer {
  display: flex;
  font-family: sligoilmicro;
  font-size: 0.75rem;
  font-style: italic;
  line-height: 1.5em;
  }

#menu { 
  display: flex;
  padding: 4px 14px;
  position: absolute;
  top: 3.4em; left: 0em; 
  width: 28em;
  }

  /*List*/
  #menu ul{ padding: 0; margin: 0; }
    /*List items*/
    #menu ul li{ 
      list-style-type: none; 
      left: 0; 
      color: rgba(5, 15, 15, 0.6);
      transition: all .3s ease-out;
    }

      /*Cursor and text undelrine on hover*/
      #menu ul li:hover{
        cursor: pointer;
        font-weight: 550;
        color: black;
        padding: 5px 20px;
      }
      /*Background and text colour change on click*/
      #menu ul li:active{
        color: rgba(255, 255, 255,0.6);
      }

#menu-btn
        {
         position: relative;
}

section {
  // Setting the measure here
  max-width: 33%;
  margin: 0rem;
}



// Minimum font size
@media screen and (max-width: breakpoint-for-fontsize($min-font-size) * 1px) {
	html {
		font-size: $min-font-size * 1px;
	}
}

// Maximum font size
@media screen and (min-width: breakpoint-for-fontsize($max-font-size) * 1px) {
	html {
		font-size: $max-font-size * 1px;
	}
}
