@font-face {
  font-family: 'sligoilmicro';
  src: url("sligoil-micro-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 1.54545vw;
}

body {
  background-color: #ff5a28;
  margin: 1% 1%;
  margin-right: 3%;
  text-align: left;
  text-rendering: optimizeLegibility;
}

.container {
  position: relative;
}

.h1 {
  font-family: 'sligoilmicro';
  font-size: 4rem;
  font-style: none;
  display: inline-block;
  margin: 0rem 0rem;
  line-height: 1;
  position: relative;
}

.h2 {
  font-family: 'sligoilmicro';
  font-size: 2.4rem;
  word-spacing: -.4rem;
  color: black;
  display: inline-block;
  line-height: .7;
  margin: 0rem 0.3rem;
  text-decoration: underline;
  text-decoration-color: black;
}

.explications {
  font-family: 'sligoilmicro';
  font-size: 1.05rem;
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  top: .7rem;
  line-height: 1.2;
  position: relative;
  margin: 0rem 0.3rem;
  margin-bottom: 0.4rem;
}

.text {
  font-family: 'sligoilmicro';
  font-size: 0.8rem;
  line-height: 1.4;
  position: relative;
  margin-left: 0.3rem;
  color: rgba(0, 0, 0, 0.8);
}

.inter {
  font-family: 'sligoilmicro';
  font-size: 0.8rem;
  line-height: 1.4;
  position: relative;
  margin-bottom: 3.5rem;
  margin-top: 0rem;
  padding-left: calc(1% + .1rem);
  color: rgba(0, 0, 0, 0.7);
  border-left: 0.2rem solid rgba(0, 0, 0, 0.5);
}

.back {
  font-family: 'sligoilmicro';
  font-size: 2.95rem;
  line-height: 1;
  position: relative;
}

ul {
  margin-bottom: 4rem;
  margin-top: 4rem;
  margin-left: 0rem;
}

img {
  height: auto;
  width: 100%;
  border-radius: 5px;
}

#intro {
  color: black;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  color: rgba(0, 0, 0, 0.8);
}

#projet {
  margin-top: 1rem;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  border: none;
  color: rgba(255, 255, 255, 0.9);
}

.grid {
  display: grid;
  /*  set up 6 equal grid area for the layout  */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  /*  The grid items within the grid layout will be auto-flow and fill up all the white space with content  */
  grid-auto-flow: dense;
  /*  Set up the gutter   */
  grid-gap: 20px;
}

/* Combined Flexbox and CSS Grid */
.header {
  grid-column: 1/-1;
  /*  flexbox  */
  display: flex;
  /*  The second flex item will float under the logo when it resize into smaller layout  */
  flex-flow: row wrap;
  align-items: baseline;
  position: relative;
}

.hero {
  /* use all 6 grid areas */
  grid-column: 1/-1;
  border-radius: 5px;
}

.main {
  /* use all 6 grid areas */
  grid-column: 1/-1;
  /*  sub grid  */
  display: grid;
  /*  the image of this sub grid will auto fill up the white space  */
  /*  with minmax setting, the images within this grid layout will stay structured   */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  /*  gutter  */
  grid-gap: 10px;
}

.main li:nth-child(4) {
  /* use all 6 grid areas */
  grid-column: 1/-1;
}

.sub {
  grid-column: 1/-1;
}

li {
  list-style: square;
  list-style: inside;
}

.sub ul {
  /*  sub grid  */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: dense;
  grid-gap: 5px;
}

.sub ul li:nth-child(4) {
  /* use all 6 grid areas */
  grid-column: 1/-1;
}

.main, .sub ul {
  list-style: none;
  padding: 0;
}

@media (min-width: 800px) {
  .main {
    /*   smaller layout setting    */
    /*   a three grid area's layout   */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    /*   still auto-flow and fill up all the white spaces   */
    grid-auto-flow: dense;
    /*   gutter   */
    grid-gap: 10px;
  }

  .last-img {
    /*   span the last image   */
    grid-column: 1/-1;
  }
}
@media (min-width: 680px) {
  /*  the grid grid becomes a two grid areas's layout  */
  .sub ul {
    grid-template-columns: 1fr 1fr;
  }
}
.sub ul li:nth-child(4) {
  /*   span the image   */
  grid-column: 1/-1;
}

@media screen and (max-width: 841.17647px) {
  html {
    font-size: 17.29px;
  }
}
@media screen and (min-width: 1682.35294px) {
  html {
    font-size: 26px;
  }
}
*, *:before, *:after {
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
  border-sizing: border-box;
}

.dropdown {
  position: relative;
}
.dropdown > .dropdown-menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -moz-transition: max-height 0s ease-out;
  -o-transition: max-height 0s ease-out;
  -webkit-transition: max-height 0s ease-out;
  transition: max-height 0s ease-out;
  -moz-animation: hideAnimation 0s ease-out;
  -webkit-animation: hideAnimation 0s ease-out;
  animation: hideAnimation 0s ease-out;
}
.dropdown > input[type="checkbox"] {
  opacity: 0;
  display: flex;
  position: absolute;
  bottom: 0rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.dropdown > input[type="checkbox"]:checked ~ .dropdown-menu {
  max-height: 9999px;
  display: block;
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -moz-animation: showAnimation 0s ease-out;
  -webkit-animation: showAnimation 0s ease-out;
  animation: showAnimation 0s ease-out;
  -moz-transition: max-height 0s ease-out;
  -o-transition: max-height 0s ease-out;
  -webkit-transition: max-height 0s ease-out;
  transition: max-height 0s ease-out;
}

@-moz-keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -moz-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-webkit-keyframes showAnimation {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes showAnimation {
  0% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
  100% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -moz-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-webkit-keyframes hideAnimation {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@keyframes hideAnimation {
  0% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  100% {
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }
}
.dropdown:hover {
  color: white;
}
