@font-face {
  font-family: "sligoilmicro";
  src: url("sligoil-micro-webfont.woff ") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 1.5454545455vw;
}

body {
  margin: 0 0rem;
  text-align: left;
  text-rendering: optimizeLegibility;
  background-color: rgba(255,85,40,1);
}

.container {
  position: relative;
}

.h1 {
  font-family: "sligoilmicro";
  font-size: 4rem;
  font-style: none;
  display: inline-block;
  margin: 1rem 1rem;
  line-height: 1;
  position: relative;
}

.text {
  font-family: "sligoilmicro";
  font-size: 0.8rem;
  font-style: none;
  position: relative;
  top: 1rem;
  margin: 0rem 0.3rem;
}

a {
  text-decoration: none;
  color: black;
}

model-viewer {
  z-index: 1;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.HotspotAnnotation {
  font-family: "sligoilmicro";
  font-size: 1.5rem;
  font-style: none;
}

.Hotspot {
  font-family: "sligoilmicro";
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

.Hotspot:hover {
  background-color: transparent;
  color: white;
  font-style: italic;
  text-shadow: 0rem 0rem 2rem white;
}

.Hotspotcontact {
  position: relative;
  right: 1.7rem;
  font-family: "sligoilmicro";
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: 1.3rem;
}

.Hotspotcontact:hover {
  color: white;
  font-style: italic;
}

.modaloverlay {
  background: rgba(255, 255, 255, 0.4);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  z-index: -1;
  display: none;
}
.modaloverlay:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
  z-index: 99999;
}
.modaloverlay .modal {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(60px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 1rem;
  border-radius: 15px;
  padding: 3rem;
}
.modaloverlay .modal > iframe, .modaloverlay .modal > div {
  border: none;
}
.modaloverlay .close {
  color: black;
  font-size: 2rem;
  padding: 0rem 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

section {
  max-width: 33%;
  margin: 0rem;
}

@media screen and (max-width: 841.1764705882px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 1682.3529411765px) {
  html {
    font-size: 26px;
  }
}
