@font-face {
  font-family: "sligoilmicro";
  src: url("https://raw.githubusercontent.com/clmth/3dfiles/main/Sligoil-Micro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 1.5454545455vw;
}

body {
  margin: 0 0rem;
  text-align: left;
  text-rendering: optimizeLegibility;
}

.container {
  position: relative;
}

.h1 {
  font-family: "sligoilmicro";
  font-size: 4rem;
  font-style: none;
  display: inline-block;
  margin: 1rem 1rem;
  line-height: 1;
  position: relative;
}

.text {
  font-family: "sligoilmicro";
  font-size: 0.8rem;
  font-style: none;
  position: relative;
  top: 1rem;
  margin: 0rem 0.3rem;
}

a {
  text-decoration: none;
  color: black;
}

model-viewer {
  z-index: 1;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
}

.HotspotAnnotation {
  font-family: "sligoilmicro";
  font-size: 1.5rem;
  font-style: none;
}

.Hotspot {
  font-family: "sligoilmicro";
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

.Hotspot:hover {
  background-color: transparent;
  color: white;
  font-style: italic;
  text-shadow: 0px 0px 2rem white;
}

.Hotspotcontainer {
  display: flex;
  font-family: sligoilmicro;
  font-size: 0.75rem;
  font-style: italic;
  line-height: 1.5em;
  color: black;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.2);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.light {
  background: rgba(255, 255, 255, 0.3);
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin-top: 10rem;
  margin-left: 1rem;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(60px);
  border-radius: 10px;
  width: 22rem;
  min-width: 5rem;
  position: relative;
}
.light .popup {
  border-color: none;
}
.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
.popup .close:hover {
  opacity: 1;
}
.popup .content {
  max-height: 400px;
  overflow: auto;
}
.popup p {
  margin: 0 0 1em;
}
.popup p:last-child {
  margin: 0;
}

section {
  max-width: 33%;
  margin: 0rem;
}

@media screen and (max-width: 841.1764705882px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 1682.3529411765px) {
  html {
    font-size: 26px;
  }
}
